<% include ../partials/header %>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Series</h2>
            <p class="lead">Todas as Séries Cadastradas <a href="/series/nova" class="btn btn-info">Nova Série</a></p>
            <table class="table table-hover">
                <%series.forEach( serie =>{ %>
                    <tr>
                      <td>
                        <a href="/series/info/<%=serie.id%>">
                        <%= serie.name %>
                        </a>
                      </td>
                      <td>
                        <label class="badge badge-secondary">
                          <%= labels.filter(l => l.id === serie.status)[0].name %>
                        </label>
                      </td>
                      <!-- <td><%= serie.status %></td> -->
                      <td>
                        <a class="btn btn-outline-info" href="/series/editar/<%=serie._id%>">Editar</a>
                      </td>
                      <td>
                        <a class="btn btn-outline-danger" href="/series/excluir/<%=serie._id%>" onclick="return confirm('Deseja realmente excluir <%=serie.name%>?')">Excluir</a>
                      </td>
                    </tr>
                <% }) %>
            </table>
          </div>
        </div>
      </div>
    </section>

<% include ../partials/footer %>
